body{
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: 100px auto;
    background-color: #f2f2f7;
}

header{
    grid-row: 1;
    background-color: #007aff;
    border-bottom: 10px solid #ff5959;
}

#container{
    display: flex;
    flex-direction: row;
    padding: 100px 200px 100px 200px;
    gap: 10px;
}

#sideBar{
    width: 250px;
    border-radius: 10px;
    padding: 50px 10px 50px 10px;
    box-shadow: 0px 0px 20px 10px rgba(204, 204, 204, 0.274);
}

#listContent{
    flex: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 10px rgba(204, 204, 204, 0.274);
}